## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/eclipseOLD
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
.classpath

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
/classes

*Thumbs.db

*.launch
